/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Noto+Sans:400,400i,700,700i&display=swap&subset=korean");
/* font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif; 
font-family: 'Dancing Script', cursive;*/
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  color: #111;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Noto Sans KR', sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

html, body {
  position: fixed;
  overflow: hidden; }

.wrap {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

header {
  width: 100%;
  height: 45px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  position: fixed;
  top: 0;
  z-index: 100; }
  header button img {
    width: 22px; }

.header__search {
  padding-top: 5px;
  float: left;
  display: flex;
  align-items: center; }
  .header__search button {
    border: none;
    outline-style: none;
    cursor: pointer;
    background: none; }
  .header__search input {
    width: 60%;
    height: 26px;
    border: none;
    outline-style: none;
    background: #eeeeee;
    border-radius: 8px;
    margin-left: -15px;
    padding-left: 10px;
    margin-bottom: 3px;
    font-size: 1rem;
    transform: scale(0.7); }
.header__shopping {
  padding-top: 5px;
  float: right; }
  .header__shopping button {
    border: none;
    outline-style: none;
    cursor: pointer;
    background: none;
    position: relative;
    margin-right: 10px; }
    .header__shopping button::first-child:after {
      content: '';
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background: #e5004f;
      position: absolute;
      top: 0;
      right: 3px; }

.back {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  outline-style: none;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 100;
  opacity: 0; }
  .back img {
    width: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.visual {
  width: 100%;
  height: 400px;
  background: url(../img/product/jacket/visual.jpg) no-repeat center 10%/cover;
  position: relative; }
  .visual h2 {
    width: 55%;
    position: absolute;
    left: 10px;
    bottom: 20px;
    font-size: 2.3rem;
    color: #fff;
    font-weight: 600; }

.category {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  position: relative;
  background: #fff; }
  .category button {
    border: none;
    outline-style: none;
    cursor: pointer;
    background: none;
    position: relative;
    width: 25%;
    font-size: 0.8rem;
    color: #434343; }
  .category__selected {
    color: #333;
    font-weight: 550;
    position: relative;
    padding-bottom: 5px; }
  .category span {
    width: 58px;
    height: 2px;
    background: #e5004f;
    position: absolute;
    left: 13px;
    bottom: 0; }

.heart {
  width: 30px;
  height: 30px;
  border: none;
  outline-style: none;
  background: none;
  cursor: pointer;
  margin-top: 6px;
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .heart img {
    width: 20px;
    height: 20px;
    filter: grayscale(1);
    opacity: 0.3;
    transition: .2s; }
  .heart .pink {
    filter: grayscale(0);
    opacity: 1; }

.new__wrapper {
  width: 93%;
  height: 300px;
  margin: 30px auto;
  position: relative; }

.new__itemWrapper {
  display: flex;
  position: absolute;
  top: 0; }
  .new__itemWrapper .item01 {
    margin-left: 0;
    background: url(../img/product/jacket/001.jpg) no-repeat center/cover; }
  .new__itemWrapper .item02 {
    background: url(../img/product/jacket/002.jpg) no-repeat center/cover; }
  .new__itemWrapper .item03 {
    background: url(../img/product/jacket/003.jpg) no-repeat center/cover; }

.new__item {
  margin-left: 15px;
  width: 115px;
  height: 160px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  position: relative; }
  .new__item em {
    position: absolute;
    bottom: -15%;
    left: 0;
    font-size: 0.8rem;
    font-weight: 100; }
  .new__item strong {
    width: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    bottom: -23%;
    left: 0;
    font-size: 0.8rem;
    font-weight: 550; }
  .new__item p {
    position: absolute;
    bottom: -32%;
    left: 0;
    font-size: 0.8rem;
    font-weight: 100; }

nav {
  width: 100%;
  height: 40px;
  background: #fff;
  display: flex;
  position: fixed;
  bottom: 0;
  z-index: 99;
  border-top: 1px solid #eee; }
  nav a {
    width: 25%;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase; }

/*# sourceMappingURL=product.css.map */
