@import url('common.css');

html,body {
  overflow: hidden;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: url(../img/bg_001.jpg) no-repeat center / cover;
}
header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
header button{
    background: none;
    border: none;
    outline-style: none;
    cursor: pointer;
}
header h1{
    width: 25%;
}
.header__burger span{
    display: block;
    width: 31px;
    height: 2px;
    background: #fff;
    margin-bottom: 8px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.35);
}
section{
    width: 90%;
    margin: 0 auto;
    height: 70%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: baseline;
}
section h2{
    font-size: 3.5rem;
    font-weight: bolder;
    color: #fff;
    margin-bottom: 20px;
}
section p{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff;
    margin-bottom: 30px;
    font-weight: 100;
    text-shadow: 1px 2px 2px rgba(163, 87, 87, 0.3);
}
section button{
    width: 150px;
    height: 35px;
    border-radius: 30px;
    background: #fff;
    border: none;
    outline-style: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 100;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #333;
}
.nav_wrapper{
    width: 70%;
    height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #fff;
    position: absolute;
    top: 0; left: 0;
    z-index: 2;
}
.nav{
    margin-top: 30px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav button{
    background: none;
    border: none;
    outline-style: none;
    cursor: pointer;
    position: relative;
}
.nav button span{
    display: block;
    width: 31px;
    height: 2px;
    background: #fff;
    margin-bottom: 8px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.35);
}
.nav button span:nth-of-type(1){
    position: absolute;
    top: 0;
    transform: rotate(45deg);
}
.nav button span:nth-of-type(2){
    position: absolute;
    top: 4px;
    transform: rotate(315deg);
}