@import url('common.css');

.wrap{
    position: relative;
}
header{
    width: 100%;
    height: 45px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    position: fixed;
    z-index: 100;
} 
.header__search{
    padding-top: 5px;
    float: left;
    display: flex;
    align-items: center;
}
.header__search button{
    border: none;
    outline-style: none;
    cursor: pointer;
    background: none;
}
header button img{
    width: 22px;
}
.header__search input{
    width: 60%;
    height: 26px;
    border: none;
    outline-style: none;
    background: #eeeeee;
    border-radius: 8px;
    margin-left: -15px;
    padding-left: 10px;
    margin-bottom: 3px;
    font-size: 1rem;
    transform: scale(0.7);
}
.header__shopping{
    padding-top: 5px;
    float: right;
}
.header__shopping button{
    border: none;
    outline-style: none;
    cursor: pointer;
    background: none;
    position: relative;
    margin-right: 10px;
}
.header__shopping button:first-child:after{
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #e5004f;
    position: absolute;
    top: 0;
    right: 3px;
}
/* .banner{
    height: 400px;
    background: url(../img/cat_001.jpg) no-repeat center / cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.banner p{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
}
.banner h2{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 60%;
    color: #fff;
    font-size: 3.5rem;
    font-weight: 550;
    text-align: center;
}
.banner strong{
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 40px;
}
.banner__indicator{
    width: 50%;
    height: 3px;
    border-radius: 3px;
    background: rgba(255,255,255,0.3); 
    position: relative;
    margin-bottom: 30px;
}
.banner__indicator:after{
   content: '';
   width: 20%;
   height: 100%;
   background: rgba(255,255,255,0.9); 
   border-radius: 3px;
   position: absolute;
   left:0; bottom: 0;
} */
.woman{
    width: 100%;
    height: 450px;
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding-top: 80px;
}
.woman h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 550;
    letter-spacing: 0.05rem;
}
.woman ul{
    width: 90%;
    margin: 20px auto;
    overflow: hidden;
}
.woman li{
    float: left;
  margin: 2% 0;
    width: 30%;
    height: 100px;
}
.woman li a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #666;
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}
.woman li a img{
    width:40px;
    margin-bottom: 5px;
    opacity: 0.5;
}
.man{
    width: 100%;
    height: 410px;
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding-top: 40px;
}
.man h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 550;
    letter-spacing: 0.05rem;
}
.man ul{
    width: 90%;
    margin: 20px auto;
    overflow: hidden;
}
.man li{
    float: left;
    margin: 2% 0;
    width: 30%;
    height: 100px;
}
.man li a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #666;
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}
.man li a img{
    width:40px;
    margin-bottom: 5px;
    opacity: 0.5;
}
.kids{
    width: 100%;
    height: 460px;
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding-top: 40px;
}
.kids h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 550;
    letter-spacing: 0.05rem;
}
.kids ul{
    width: 90%;
    margin: 20px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.kids li{
    margin: 2% auto;    
    width: 50%;
    height: 50px;
}
.kids li a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #666;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
}
.kids li a p{
    font-size: 0.7rem;
    font-weight: 100;
    letter-spacing: 0.03    rem;
}
nav{
    width: 100%;
    height: 40px;
    background: #fff;
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 99;
    border-top: 1px solid #eee;
}
nav a{
    width: 25%;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}