@import url('common.css');

.wrap{
    position: relative;
}
header{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    padding: 5px 10px;
    position: fixed;
    z-index: 100;
} 
.header__search{
    padding-top: 5px;
    float: left;
    display: flex;
    align-items: center;
}
.header__search button{
    border: none;
    outline-style: none;
    cursor: pointer;
    background: none;
}
header button img{
    width: 22px;
}
.header__search input{
    width: 60%;
    height: 26px;
    border: none;
    outline-style: none;
    background: #eeeeee;
    border-radius: 8px;
    margin-left: -15px;
    padding-left: 10px;
    margin-bottom: 3px;
    font-size: 1rem;
    transform: scale(0.7);
}
.header__shopping{
    padding-top: 5px;
    float: right;
}
.header__shopping button{
    border: none;
    outline-style: none;
    cursor: pointer;
    background: none;
    position: relative;
    margin-right: 10px;
}
.header__shopping button:first-child:after{
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #e5004f;
    position: absolute;
    top: 0;
    right: 3px;
}
.banner{
    height: 400px;
    background: url(../img/cat_001.jpg) no-repeat center / cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.banner p{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
}
.banner h2{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 60%;
    color: #fff;
    font-size: 3.5rem;
    font-weight: 550;
    text-align: center;
}
.banner strong{
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 40px;
}
.banner__indicator{
    width: 50%;
    height: 3px;
    border-radius: 3px;
    background: rgba(255,255,255,0.3); 
    position: relative;
    margin-bottom: 30px;
}
.banner__indicator:after{
   content: '';
   width: 20%;
   height: 100%;
   background: rgba(255,255,255,0.9); 
   border-radius: 3px;
   position: absolute;
   left:0; bottom: 0;
}


nav{
    width: 100%;
    height: 40px;
    background: #fff;
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 99;
    border-top: 1px solid #eee;
}
nav a{
    width: 25%;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}